:root {
    --main-blue: #ea3e00;  /* Deep Blue */
    --accent-gold: #FFD700; /* Warm Gold */
    --black: black;
}

body{
    margin: 0px;
    background-color: var(--main-blue);
    
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    background-color: var(--accent-gold);
    width:100%;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 10px;
    min-height: 60px;
}



article {
    font-size: 1.5rem; /* Increases font size */
    border-radius: 10px;
    margin: 1px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 5px; 
    align-items: center;
    justify-content: center;
}

li {
    text-align: left;
    display: grid;
    grid-template-columns: max-content 1fr; 
    gap: 10px; 
    font-size: 1.2rem;
}

strong {
    text-align: right; 
    display: inline-block;
    min-width: 150px;
}

/* Default: Small screens (apply to SVG images) */
.weather-image {
    width: 40%;
    height: auto;
}

/* Large screens: Make the emoji bigger */
@media (min-width: 600px) {
    #weather-icon {
        font-size: 50px; /* Adjust size as needed */
    }
}

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 60px;
    margin-top: 30px;
    background-color: var(--main-blue);
    color:#f4f4f4
}

.lastModified {
    margin-bottom: 90px;
}

#currentyear::after {
    content: " 😎"; 
    font-weight: bold;
}

picture {
    width: 30%;
    height: auto;
}
